<div id="id">
    <label for="id">Código do Motorista:</label>
    <input type="text" name="id" [(ngModel)]="id" />
</div>
<div id="nomeMotorista">
    <label for="nome">Nome Completo:</label>
    <input type="text" name="nomeMotorista" [(ngModel)]="nomeMotorista" />
</div>
<div id="cpf">
    <label for="cpf">CPF:</label>
    <input type="text" name="cpf" [(ngModel)]="cpf" />
</div>
<div id="telefone">
    <label for="telefone">Telefone:</label>
    <input type="text" name="telefone" [(ngModel)]="telefone" />
</div>
<button (click)="alterar()">Alterar</button>
